<div class="page-header">
  <h1><%=t '.title', :default => News.model_name.human %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= News.human_attribute_name(:id) %></th>
      <th><%= News.human_attribute_name(:title) %></th>
      <th><%= News.human_attribute_name(:slug) %></th>
      <th><%= News.human_attribute_name(:news_category_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @news.each do |news| %>
      <tr>
        <td><%= link_to news.id, admin_news_path(news) %></td>
        <td><%= news.title %></td>
        <td><%= news.slug %></td>
        <td><%= news.news_category.try(:name) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_news_path(news), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_news_path(news),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-default' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_news_path,
            :class => 'btn btn-primary' %>
