<%= simple_form_for([:admin, app_configuration]) do |f| %>
  <%= f.error_notification %>

  <%= f.fields_for :definitions, OpenStruct.new(f.object.definitions || {}) do |form_definition| %>
    <%= form_definition.input :company_name, label: I18n.t('activerecord.attributes.app_configuration.definitions.company_name') %>
    <%= form_definition.input :slogan, label: I18n.t('activerecord.attributes.app_configuration.definitions.slogan') %>
    <%= form_definition.input :bottom_slogan, as: :text, label: I18n.t('activerecord.attributes.app_configuration.definitions.bottom_slogan') %>
    <%= form_definition.input :address, as: :text, label: I18n.t('activerecord.attributes.app_configuration.definitions.address') %>
    <%= form_definition.input :phone, label: I18n.t('activerecord.attributes.app_configuration.definitions.phone') %>
    <%= form_definition.input :other_phone, label: I18n.t('activerecord.attributes.app_configuration.definitions.other_phone') %>
    <%= form_definition.input :email, label: I18n.t('activerecord.attributes.app_configuration.definitions.email') %>
  <% end -%>

  <%= f.button :submit, :class => 'btn-primary' %>
<% end %>
