<!--data start -->
  <div class="row">
    <!-- hot news start -->
    <div class="col-sm-16 hot-news hidden-xs">
      <div class="row">
        <div class="col-sm-15"> <span class="ion-ios7-timer icon-news pull-left"></span>
          <ul id="js-news" class="js-hidden">
            <li class="news-item"><a href="">Conselho do Patrimônio discute ocupação e uso da Praça Cesário Alvim </a></li>
            <li class="news-item"><a href="">Prefeitura assina convênio com Centro de Reabilitação do CASU</a></li>
            <li class="news-item"><a href="">Prefeitura oferece desconto em IPTU, ISS e outros impostos em atraso</a></li>
            <li class="news-item"><a href="">Prefeito Marco Antônio participa de homenagem da FUNEC a centenários</a></li>
          </ul>
        </div>
        <div class="col-sm-1 shuffle text-right"><a href="#"><span class="ion-shuffle"></span></a></div>
      </div>
    </div>
    <!-- hot news end -->

    <!-- banner outer thumb start -->
    <div class="col-xs-16 banner-outer-thumb  pull-left  wow fadeInLeft animated" data-wow-delay="0.5s" data-wow-offset="50">
      <div class="row">
        <div id="banner-thumbs" class="owl-carousel">
          <div class="item"><a href="#">
            <div class="box">
              <div class="carousel-caption">The oriental experience: Chew – Pan Asia Caffe in the world 2014</div>
              <img class="img-responsive" src="/assets/site/banner-slider/slide-img-1.jpg" width="1600" height="972" alt=""/>
              <div class="overlay"></div>
              <div class="overlay-info">
                <div class="cat">
                  <p class="cat-data"><span class="ion-coffee"></span>negócios</p>
                </div>
                <div class="info">
                  <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                </div>
              </div>
            </div>
          </a> </div>
          <div class="item"><a href="#">
            <div class="box ">
              <div class="carousel-caption">In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo</div>
              <img class="img-responsive" src="/assets/site/banner-slider/slide-img-6.jpg" width="1600" height="972" alt=""/>
              <div class="overlay"></div>
              <div class="overlay-info">
                <div class="cat">
                  <p class="cat-data"><span class="ion-model-s"></span>Lazer</p>
                </div>
                <div class="info">
                  <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                </div>
              </div>
            </div>
          </a> </div>
          <div class="item"><a href="#">
            <div class="box ">
              <div class="carousel-caption">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</div>
              <img class="img-responsive" src="/assets/site/banner-slider/slide-img-7.jpg" width="1600" height="972" alt=""/>
              <div class="overlay"></div>
              <div class="overlay-info">
                <div class="cat">
                  <p class="cat-data"><span class="ion-trophy"></span>Esporte</p>
                </div>
                <div class="info">
                  <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                </div>
              </div>
            </div>
          </a> </div>
          <div class="item"><a href="#">
            <div class="box ">
              <div class="carousel-caption">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</div>
              <img class="img-responsive" src="/assets/site/banner-slider/slide-img-8.jpg" width="1600" height="972" alt=""/>
              <div class="overlay"></div>
              <div class="overlay-info">
                <div class="cat">
                  <p class="cat-data"><span class="ion-wand"></span>Lazer</p>
                </div>
                <div class="info">
                  <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                </div>
              </div>
            </div>
          </a> </div>
          <div class="item"><a href="#">
            <div class="box">
              <div class="carousel-caption">The oriental experience: Chew – Pan Asia Caffe in the world 2014</div>
              <img class="img-responsive" src="/assets/site/banner-slider/slide-img-1.jpg" width="1600" height="972" alt=""/>
              <div class="overlay"></div>
              <div class="overlay-info">
                <div class="cat">
                  <p class="cat-data"><span class="ion-coffee"></span>negócios</p>
                </div>
                <div class="info">
                  <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                </div>
              </div>
            </div>
          </a> </div>
          <div class="item"><a href="#">
            <div class="box ">
              <div class="carousel-caption">In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo</div>
              <img class="img-responsive" src="/assets/site/banner-slider/slide-img-6.jpg" width="1600" height="972" alt=""/>
              <div class="overlay"></div>
              <div class="overlay-info">
                <div class="cat">
                  <p class="cat-data"><span class="ion-model-s"></span>Lazer</p>
                </div>
                <div class="info">
                  <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                </div>
              </div>
            </div>
          </a> </div>
          <div class="item"><a href="#">
            <div class="box ">
              <div class="carousel-caption">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</div>
              <img class="img-responsive" src="/assets/site/banner-slider/slide-img-7.jpg" width="1600" height="972" alt=""/>
              <div class="overlay"></div>
              <div class="overlay-info">
                <div class="cat">
                  <p class="cat-data"><span class="ion-trophy"></span>Esporte</p>
                </div>
                <div class="info">
                  <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                </div>
              </div>
            </div>
          </a> </div>
          <div class="item"><a href="#">
            <div class="box ">
              <div class="carousel-caption">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</div>
              <img class="img-responsive" src="/assets/site/banner-slider/slide-img-8.jpg" width="1600" height="972" alt=""/>
              <div class="overlay"></div>
              <div class="overlay-info">
                <div class="cat">
                  <p class="cat-data"><span class="ion-wand"></span>Lazer</p>
                </div>
                <div class="info">
                  <p><span class="ion-android-data"></span>Dec 16 2014<span class="ion-chatbubbles"></span>351</p>
                </div>
              </div>
            </div>
          </a> </div>
        </div>
      </div>
    </div>

    <!-- banner outer thumb end -->

    <!-- left sec start -->
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-16 pull-left">
      <div class="row">
        <!-- big thumbs start -->

        <div class="col-sm-16 business  wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="50">
          <a class="popup-img" href="/assets/site/banner-slider/slide-img-8.jpg">
            <div class="thumb-box"><span class="ion-arrow-expand"></span> <img class="img-thumbnail" src="/assets/site/banner-slider/slide-img-8.jpg" width="1600" height="972" alt=""/></div>
          </a>
          <a href="#">
            <h3>Aenean commodo ligula eget dolor. Aenean massa</h3>
          </a>
          <div class="text-danger sub-info-bordered">
            <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
            <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
            <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
          </div>
          <p>Lorem Ipsum has been the standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
        </div>

        <!--big thumbs end-->

        <!-- business start -->
        <div class="col-sm-16 business  wow fadeInDown animated" data-wow-delay="1s" data-wow-offset="50">
          <div class="main-title-outer pull-left">
            <div class="main-title">negócios</div>
            <div class="span-outer"><span class="pull-right text-danger last-update"><span class="ion-android-data icon"></span>Última atualização: 2 horas atrás</span> </div>
          </div>
          <div class="row">
            <div class="col-md-11 col-sm-16">
              <div class="row">
                <div class="col-md-8 col-sm-9 col-xs-16">
                  <div class="topic"> <a href="#"><img class="img-thumbnail" src="/assets/site/business/business-main.jpg" width="600" height="398" alt=""/>
                    <h3>Famous artist share his tracks for free</h3>
                    <div class="text-danger sub-info-bordered">
                      <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                      <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                      <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                    </div>
                  </a>
                  <p>Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>
                </div>
              </div>
              <div class="col-md-8 col-sm-7 col-xs-16">
                <ul class="list-unstyled">
                  <li> <a href="#">
                    <div class="row">
                      <div class="col-sm-5 hidden-sm hidden-md"><img class="img-thumbnail pull-left" src="/assets/site/business/business-th-1.jpg" width="76" height="76" alt=""/> </div>
                      <div class="col-sm-16 col-md-16 col-lg-11">
                        <h4>Irish cream and chocolate
                          cheesecake </h4>
                          <div class="text-danger sub-info">
                            <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                            <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                            <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                          </div>
                        </div>
                      </div>
                    </a> </li>
                    <li> <a href="#">
                      <div class="row">
                        <div class="col-sm-5 hidden-sm hidden-md"><img class="img-thumbnail pull-left" src="/assets/site/business/business-th-2.jpg" width="76" height="76" alt=""/> </div>
                        <div class="col-sm-16 col-md-16 col-lg-11">
                          <h4>Nielsen forecasts smaller black friday </h4>
                          <div class="text-danger sub-info">
                            <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                            <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                            <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                          </div>
                        </div>
                      </div>
                    </a> </li>
                    <li> <a href="#">
                      <div class="row">
                        <div class="col-sm-5 hidden-sm hidden-md"><img class="img-thumbnail pull-left" src="/assets/site/business/business-th-3.jpg" width="76" height="76" alt=""/> </div>
                        <div class="col-sm-16 col-md-16 col-lg-11">
                          <h4>Nielsen forecasts smaller black friday </h4>
                          <div class="text-danger sub-info">
                            <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                            <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                            <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                          </div>
                        </div>
                      </div>
                    </a> </li>
                    <li> <a href="#">
                      <div class="row">
                        <div class="col-sm-5 hidden-sm hidden-md"><img class="img-thumbnail pull-left" src="/assets/site/business/business-th-4.jpg" width="76" height="76" alt=""/> </div>
                        <div class="col-sm-16 col-md-16 col-lg-11">
                          <h4>The evolution of the apple mouse</h4>
                          <div class="text-danger sub-info">
                            <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                            <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                            <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                          </div>
                        </div>
                      </div>
                    </a> </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-sm-16 hidden-sm hidden-xs  left-bordered">
              <div id="vid-thumbs" class="owl-carousel">
                <div class="item">
                  <div class="vid-thumb-outer">
                    <div class="vid-thumb"><a class="popup-youtube" href="https://www.youtube.com/watch?v=TEnNaUg6Vm4">
                      <div class="vid-box"><span class="ion-ios7-film"></span><img class="img-thumbnail img-responsive" src="/assets/site/business/business-vid-1.jpg" width="250" height="143" alt=""/> </div>
                      <h4>Perspiciatis unde omnis iste natus</h4>
                    </a> </div>
                    <div class="vid-thumb"><a class="popup-youtube" href="http://vimeo.com/7396421">
                      <div class="vid-box"><span class="ion-ios7-film"></span><img class="img-thumbnail img-responsive" src="/assets/site/business/business-vid-2.jpg" width="250" height="143" alt=""/> </div>
                      <h4>Cras tincidunt enim non metus ultricies.</h4>
                    </a> </div>
                  </div>
                </div>
                <div class="item">
                  <div class="vid-thumb-outer">
                    <div class="vid-thumb"><a href="">
                      <div class="vid-box"><span class="ion-ios7-film"></span><img class="img-thumbnail img-responsive" src="/assets/site/business/business-vid-1.jpg" width="250" height="143" alt=""/> </div>
                      <h4>Perspiciatis unde omnis iste natus</h4>
                    </a> </div>
                    <div class="vid-thumb"><a href="">
                      <div class="vid-box"><span class="ion-ios7-film"></span><img class="img-thumbnail img-responsive" src="/assets/site/business/business-vid-2.jpg" width="250" height="143" alt=""/> </div>
                      <h4>Cras tincidunt enim non metus ultricies.</h4>
                    </a> </div>
                  </div>
                </div>
                <div class="item">
                  <div class="vid-thumb-outer">
                    <div class="vid-thumb"><a href="">
                      <div class="vid-box"><span class="ion-ios7-film"></span><img class="img-thumbnail img-responsive" src="/assets/site/business/business-vid-1.jpg" width="250" height="143" alt=""/> </div>
                      <h4>Perspiciatis unde omnis iste natus</h4>
                    </a> </div>
                    <div class="vid-thumb"><a href="">
                      <div class="vid-box"><span class="ion-ios7-film"></span><img class="img-thumbnail img-responsive" src="/assets/site/business/business-vid-2.jpg" width="250" height="143" alt=""/> </div>
                      <h4>Cras tincidunt enim non metus ultricies.</h4>
                    </a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
        </div>
        <!-- business end -->


        <!-- Science & Travel start -->
        <div class="col-sm-16">
          <div class="row">
            <div class="col-xs-16 col-sm-8  wow fadeInLeft animated science" data-wow-delay="0.5s" data-wow-offset="130">
              <div class="main-title-outer pull-left">
                <div class="main-title">bem estar</div>
                <div class="span-outer"><span class="pull-right text-danger last-update"><span class="ion-android-data icon"></span>Última atualização: 2 horas atrás</span> </div>
              </div>
              <div class="row">
                <div class="topic col-sm-16"> <a href="#"><img class=" img-thumbnail" src="/assets/site/science/sci-main.jpg" width="600" height="227" alt=""/>
                  <h3> Curabitur ullamcorper ultricies nisi nam eget dui</h3>
                  <div class="text-danger sub-info-bordered ">
                    <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                    <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                  </div>
                </a>
                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
              </div>
              <div class="col-sm-16">
                <ul class="list-unstyled  top-bordered ex-top-padding">
                  <li> <a href="#">
                    <div class="row">
                      <div class="col-lg-3 col-md-4 hidden-sm  "><img width="76" height="76" alt="" src="/assets/site/science/sci-th-1.jpg" class="img-thumbnail pull-left"> </div>
                      <div class="col-lg-13 col-md-12">
                        <h4>Irish cream and chocolate
                          cheesecake </h4>
                          <div class="text-danger sub-info">
                            <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                            <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                            <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                          </div>
                        </div>
                      </div>
                    </a> </li>
                    <li> <a href="#">
                      <div class="row ">
                        <div class="col-lg-3 col-md-4 hidden-sm  "><img width="76" height="76" alt="" src="/assets/site/science/sci-th-2.jpg" class="img-thumbnail pull-left"> </div>
                        <div class="col-lg-13 col-md-12">
                          <h4>Irish cream and chocolate
                            cheesecake </h4>
                            <div class="text-danger sub-info">
                              <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                              <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                              <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                            </div>
                          </div>
                        </div>
                      </a> </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-8 col-xs-16 wow fadeInRight animated" data-wow-delay="0.5s" data-wow-offset="130">
                <div class="main-title-outer pull-left">
                  <div class="main-title">transporte</div>
                  <div class="span-outer"><span class="pull-right text-danger last-update"><span class="ion-android-data icon"></span>Última atualização: 2 horas atrás</span> </div>
                </div>
                <div class="row left-bordered">
                  <div class="topic col-sm-16"> <a href="#"> <img  class="img-thumbnail" src="/assets/site/travel/travel-main.jpg" width="600" height="227" alt=""/>
                    <h3>Feds open formal probe into tesla
                      electric ship</h3>
                      <div class="text-danger sub-info-bordered">
                        <div class="time"><span class="ion-android-data icon"></span>Dec 9 2014</div>
                        <div class="comments"><span class="ion-chatbubbles icon"></span>204</div>
                        <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                      </div>
                    </a>
                    <p>Lorem Ipsum has been the standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                  </div>
                  <div class="col-sm-16">
                    <ul class="list-unstyled top-bordered ex-top-padding">
                      <li> <a href="#">
                        <div class="row">
                          <div class="col-lg-3 col-md-4 hidden-sm  "><img width="76" height="76" alt="" src="/assets/site/travel/travel-th-1.jpg" class="img-thumbnail pull-left"> </div>
                          <div class="col-lg-13 col-md-12">
                            <h4>Irish cream and chocolate
                              cheesecake </h4>
                              <div class="text-danger sub-info">
                                <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                              </div>
                            </div>
                          </div>
                        </a> </li>
                        <li> <a href="#">
                          <div class="row ">
                            <div class="col-lg-3 col-md-4 hidden-sm  "><img width="76" height="76" alt="" src="/assets/site/travel/travel-th-2.jpg" class="img-thumbnail pull-left"> </div>
                            <div class="col-lg-13 col-md-12">
                              <h4>Irish cream and chocolate
                                cheesecake </h4>
                                <div class="text-danger sub-info">
                                  <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                  <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                  <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                </div>
                              </div>
                            </div>
                          </a> </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
              <!-- Scince & Travel end -->


            </div>
          </div>
          <!-- left sec end -->

          <!-- right sec start -->
          <div class="col-sm-5 hidden-xs right-sec top-margin-small">
            <div class="bordered">
              <div class="row ">
                <div class="col-sm-16 bt-space wow fadeInUp animated" data-wow-delay="1s" data-wow-offset="50"> <img class="img-responsive" src="/assets/site/ads/336-280-ad.gif" width="336" height="280" alt=""/> <a href="#" class="sponsored">anúncio publicitário</a> </div>
                <div class="col-sm-16 bt-spac wow fadeInUp animated" data-wow-delay="1s" data-wow-offset="150">
                  <div class="table-responsive">
                    <table class="table table-bordered social">
                      <tbody>
                        <tr>
                          <td>
                            <a class="rss" href="#">
                              <p>
                                <span class="ion-social-rss"></span> Assinar<br>
                                rss
                              </p>
                            </a>
                          </td>
                          <td>
                            <a class="twitter" href="#">
                              <p>
                                <span class="ion-social-twitter"></span> 811,6<br />
                                seguidores
                              </p>
                            </a>
                          </td>
                          <td>
                            <a class="facebook" href="#">
                              <p>
                                <span class="ion-social-facebook"></span> 6958,56<br>
                                facebook</p>
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- activities start -->
                  <div class="col-sm-16 bt-space wow fadeInUp animated" data-wow-delay="1s" data-wow-offset="130">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-justified " role="tablist">
                      <li class="active"><a href="#popular" role="tab" data-toggle="tab">portal da transparência</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div class="tab-pane active" id="popular">
                        <ul class="list-unstyled">
                          <li>
                            <a href="#">
                              <div class="row">
                                <div class="col-sm-5 col-md-4"><img class="img-thumbnail pull-left" src="/assets/site/popular/pop-1.jpg" width="164" height="152" alt=""/> </div>
                                <div class="col-sm-11 col-md-12">
                                  <h4>Tellus. Phasellus viverra nulla ut metus</h4>
                                  <div class="text-danger sub-info">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="row">
                                <div class="col-sm-5  col-md-4 "><img class="img-thumbnail pull-left" src="/assets/site/popular/pop-2.jpg" width="164" height="152" alt=""/> </div>
                                <div class="col-sm-11 col-md-12">
                                  <h4>The evolution of the apple ..</h4>
                                  <div class="text-danger sub-info">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="row">
                                <div class="col-sm-5  col-md-4 "><img class="img-thumbnail pull-left" src="/assets/site/popular/pop-3.jpg" width="164" height="152" alt=""/> </div>
                                <div class="col-sm-11 col-md-12">
                                  <h4>The evolution of the apple ..</h4>
                                  <div class="text-danger sub-info">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="row">
                                <div class="col-sm-5  col-md-4 "><img class="img-thumbnail pull-left" src="/assets/site/popular/pop-4.jpg" width="164" height="152" alt=""/> </div>
                                <div class="col-sm-11 col-md-12">
                                  <h4>The evolution of the apple ..</h4>
                                  <div class="text-danger sub-info">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="row">
                                <div class="col-sm-5  col-md-4 "><img class="img-thumbnail pull-left" src="/assets/site/popular/pop-5.jpg" width="164" height="152" alt=""/> </div>
                                <div class="col-sm-11 col-md-12">
                                  <h4>The evolution of the apple ..</h4>
                                  <div class="text-danger sub-info">
                                    <div class="time"><span class="ion-android-data icon"></span>Dec 16 2014</div>
                                    <div class="comments"><span class="ion-chatbubbles icon"></span>351</div>
                                    <div class="stars"><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star"></span><span class="ion-ios7-star-half"></span></div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- activities end -->

                  <!-- calendar start -->
                  <div class="col-sm-16 bt-space wow fadeInUp animated" data-wow-delay="1s" data-wow-offset="50">
                    <div id="calendar-portal-transparencia" dates="<%= portal_transparencias_dates(@news_portal_transparencias) %>" class="single pull-left"></div>
                  </div>
                  <!-- calendar end -->
                  <!-- flicker imgs start -->
                  <div class="col-sm-16 bt-space wow fadeInUp animated" data-wow-delay="1s" data-wow-offset="35">
                    <div class="main-title-outer pull-left">
                      <div class="main-title">imagem do cidadão</div>
                    </div>
                    <ul class="list-inline">
                      <li><a href="https://flic.kr/p/pGKEzR" target="_blank"><img class="img-responsive" src="https://farm4.staticflickr.com/3944/15557385115_2d191a5cc7_s.jpg" width="55" height="55" alt=""/></a></li>
                      <li><a href="https://flic.kr/p/pq5PiE" target="_blank"><img class="img-responsive" src="https://farm4.staticflickr.com/3956/15368741148_ef02d92a65_s.jpg" width="55" height="55" alt=""/></a></li>
                      <li><a href="https://flic.kr/p/pq9rDD" target="_blank"><img class="img-responsive" src="https://farm6.staticflickr.com/5608/15369448747_fd3f69cbb7_s.jpg" width="55" height="55" alt=""/></a></li>
                      <li><a href="https://flic.kr/p/pGM4yz" target="_blank"><img class="img-responsive" src="https://farm4.staticflickr.com/3946/15557657525_da199f6917_s.jpg" width="55" height="55" alt=""/></a></li>
                      <li><a href="https://flic.kr/p/pH6FJ4" target="_blank"><img class="img-responsive" src="https://farm4.staticflickr.com/3953/15561291195_e7ecf7d3a1_s.jpg" width="55" height="55" alt=""/></a></li>
                      <li><a href="https://flic.kr/p/pqoKFn" target="_blank"><img class="img-responsive" src="https://farm4.staticflickr.com/3953/15372240967_9ee086188c_s.jpg" width="55" height="55" alt=""/></a></li>
                      <li><a href="https://flic.kr/p/pGHh6g" target="_blank"><img class="img-responsive" src="https://farm4.staticflickr.com/3944/15556919225_c7d99f9667_s.jpg" width="55" height="55" alt=""/></a></li>
                      <li><a href="https://flic.kr/p/pqxJZC" target="_blank"><img class="img-responsive" src="https://farm4.staticflickr.com/3939/15373994670_8c756abcb0_s.jpg" width="55" height="55" alt=""/></a></li>
                      <li><a href="https://flic.kr/p/pEPtj9" target="_blank"><img class="img-responsive" src="https://farm4.staticflickr.com/3938/15535494656_d04ef318a0_s.jpg" width="55" height="55" alt=""/></a></li>
                      <li><a href="https://flic.kr/p/pqjpxX" target="_blank"><img class="img-responsive" src="https://farm6.staticflickr.com/5605/15371392809_5069f8772d_s.jpg" width="55" height="55" alt=""/></a></li>
                      <li><a href="https://flic.kr/p/pqjpxX" target="_blank"><img class="img-responsive" src="https://farm6.staticflickr.com/5605/15371392809_5069f8772d_s.jpg" width="55" height="55" alt=""/></a></li>
                      <li><a href="https://flic.kr/p/pqjpxX" target="_blank"><img class="img-responsive" src="https://farm6.staticflickr.com/5605/15371392809_5069f8772d_s.jpg" width="55" height="55" alt=""/></a></li>
                      <li><a href="https://flic.kr/p/pqjpxX" target="_blank"><img class="img-responsive" src="https://farm6.staticflickr.com/5605/15371392809_5069f8772d_s.jpg" width="55" height="55" alt=""/></a></li>
                      <li><a href="https://flic.kr/p/pqjpxX" target="_blank"><img class="img-responsive" src="https://farm6.staticflickr.com/5605/15371392809_5069f8772d_s.jpg" width="55" height="55" alt=""/></a></li>
                      <li><a href="https://flic.kr/p/pqjpxX" target="_blank"><img class="img-responsive" src="https://farm6.staticflickr.com/5605/15371392809_5069f8772d_s.jpg" width="55" height="55" alt=""/></a></li>
                    </ul>
                  </div>
                  <!-- flicker imgs end -->
                </div>
              </div>
            </div>
            <!-- right sec end -->
          </div>
        <!-- data end -->
