/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require site/bootstrap.min
 *= require site/ionicons.min
 *= require site/animate.css
 *= require site/custom-red.css
 *= require site/owl.carousel.css
 *= require site/owl.transitions.css
 *= require site/magnific-popup.css
 *= require contacts
 *= require_self
 */


.subscribe-info {
  min-height: 194px !important;
}


.top-margin-small{
  margin-top: 10px;
}
