<%= simple_form_for [:admin, @menu_item], wrapper: :vertical_input_group, :html => { :class => 'vertical-horizontal' } do |f| %>
  <%= f.error_notification %>

  <%= f.association :parent, collection: MenuItem.roots %>
  <%= error_span(@menu_item[:parent]) %>
  <%= f.input :title %>
  <%= error_span(@menu_item[:title]) %>
  <%= f.input :link %>
  <%= error_span(@menu_item[:link]) %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_menu_items_path, :class => 'btn btn-default' %>
<% end %>
