<tr>
  <td><%= link_to menu_item.id, admin_menu_item_path(menu_item) %></td>
  <td><%= menu_item.title %></td>
  <td><%= menu_item.parent.try(:title) %></td>
  <td><%= menu_item.link %></td>
  <td>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_admin_menu_item_path(menu_item), :class => 'btn btn-default btn-xs' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                admin_menu_item_path(menu_item),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-xs btn-default' %>
  </td>
</tr>
<% menu_item.children.each do |menu_item_children| %>
<%= render partial: "table_content", locals: {menu_item: menu_item_children} %>
<% end -%>
