<!-- nav and search start -->
<div class="nav-search-outer">
  <!-- nav start -->
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-sm-16"> <a href="javascript:;" class="toggle-search pull-right"><span class="ion-ios7-search"></span></a>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav text-uppercase main-nav ">
              <li><a href="<%= root_path %>">início</a></li>
              <% unless in_admin? %>
                <% site_menu_items.each do |menu_item| %>
                  <% if menu_item.children.blank? %>
                    <li><a href="<%= menu_item.link %>"><%= menu_item.title %></a></li>
                  <% else %>
                    <li class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><%= menu_item.title %><span class="ion-ios7-arrow-down nav-icn"></span></a>
                      <ul class="dropdown-menu text-capitalize" role="menu">
                      <% menu_item.children.each do |menu_item_children| %>
                        <li><a href="<%= menu_item_children.link %>"><span class="ion-ios7-arrow-right nav-sub-icn"></span><%= menu_item_children.title %></a></li>
                      <% end -%>
                      </ul>
                    </li>
                  <% end -%>
                <% end -%>
              <% else %>
                <li class="dropdown"> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Administração<span class="ion-ios7-arrow-down nav-icn"></span></a>
                  <ul class="dropdown-menu text-capitalize" role="menu">
                    <li><a href="<%= admin_menu_items_path %>"><span class="ion-ios7-arrow-right nav-sub-icn"></span><%= MenuItem.model_name.human %></a></li>
                    <li><a href="<%= admin_pages_path %>"><span class="ion-ios7-arrow-right nav-sub-icn"></span><%= Page.model_name.human %></a></li>
                    <li><a href="<%= admin_news_categories_path %>"><span class="ion-ios7-arrow-right nav-sub-icn"></span><%= NewsCategory.model_name.human %></a></li>
                    <li><a href="<%= admin_news_index_path %>"><span class="ion-ios7-arrow-right nav-sub-icn"></span><%= News.model_name.human %></a></li>
                    <li><a href="<%= edit_admin_app_configuration_path(:prefeitura) %>"><span class="ion-ios7-arrow-right nav-sub-icn"></span><%= AppConfiguration.model_name.human %></a></li>
                  </ul>
                </li>
              <% end -%>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- nav end -->
    <!-- search start -->

    <div class="search-container ">
      <div class="container">
        <form action="" method="" role="search">
          <input id="search-bar" placeholder="buscar por..." autocomplete="off">
        </form>
      </div>
    </div>
    <!-- search end -->
  </nav>
  <!--nav end-->
</div>
<!-- nav and search end-->
