<html>
  <%= stylesheet_link_tag "email", :media => "all" %>
  <body>
    <div class="container" id="central-page">
      <div class="row">
        <div class="col-lg-12">
          <%= yield %>
        </div>
      </div><!--/row-->

    </div> <!-- /container -->

    <div class="container">
      <footer>
        <p>&copy; PreControl 2014 - <%= Date.today.year %></p>
      </footer>
    </div>
  </body>
</html>
